
// media-query mixin

@mixin media-query ($css-map, $query-map) {
  $_min: 0;
  $_max: 0;
  
  @if map-has-key($query-map, "min") {
    $_min: map-get($query-map, "min"); 
    
  } 
  @if map-has-key($query-map, "max") {
    $_max: map-get($query-map, "max");
  }
  
  @if $_min == 0 and $_max == 0 {
    @error "$min and $max may not be zero at the same time. Asign a value to at least one parameter.";
  }; 
  @if $_min > 0 and $_max > 0 {
    @media (min-width: #{$_min + 'px'}) and (max-width: #{$_max + 'px'}) {
      @each $property, $value in $css-map {
        #{$property}: $value
      }        
      @content;
    }
  }
  @if $_min > 0 and $_max == 0 {
    @media (min-width: #{$_min + 'px'}) {
      @each $property, $value in $css-map {
        #{$property}: $value 
      }        
      @content;
     }
  }
  @if $_min == 0 and $_max > 0 {
    @media (max-width: #{$_max + 'px'}) {
      @each $property, $value in $css-map {
        #{$property}: $value 
      }
      @content;
    }
  }
} 

@mixin google-font ($font) {
    $font: unquote($font);
    @import url('https://fonts.googleapis.com/css?family=#{$font}:400,800');
} 

// grid mixin

@mixin grid ($columns, $devices-infix, $breakpoint-map) {
  @include media-query((), $breakpoint-map) {
    @for $i from 1 through $columns {
      .col-#{$devices-infix}-#{$i} {
        width: $i * $col;
      }
    }
  }
}


// helper mixin

// mixin dodaje linie do tekstu
/*
    $text-align
        center - linia po obu stronach (default)
        rigth, left - linia odpowiednio po jednej ze stron

*/

@mixin line-on-side (
      $text-wrap-class: text-wrap,
      $text-align: center,
      $line-width: 95%,
      $line-style: 1px solid #000,
      $text-bgc: #fff,
      $gap: 15px
      ) {
          text-align: $text-align;
          position: relative;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            width: $line-width;
            margin: 0 auto;
            border-top: $line-style;
            top: 50%;
            right: 0;
            left: 0;
            //bottom: 0;
            z-index: -1;
          }
          .#{$text-wrap-class} {
            background-color: $text-bgc;
            padding: 0 $gap;
          }
}
