$tundora: #4e4d4d;
$cape-cod: #343635;
$font-base-type: 'Open+Sans';
$font-base-size: 14px;
$font-base-color:$tundora;


//grid variables
$grid-columns: 12;
$grid-max-width: 1200px;
$gap: 6px;
$col: col-width(); 
$tablet-infix: "sm";
$laptop-infix: "md";
$desktop-infix: "lg";


//media-query variables

$bp-small: 479;
$bp-medium: 769;
$bp-large: 1199;

$phone-bp-map:      (max: $bp-small - 1);
$tablet-bp-map:     (min: $bp-small, max: $bp-medium - 1);
$laptop-bp-map:     (min: $bp-medium);
$desktop-bp-map:    (min: $bp-large);


//header variables

$header-hight: 50px;
$header-bc: $cape-cod;

$hero-hight: 70vh;